extends layout

block content
  div
    p.class1 Hello my dog's name is #{dog}
    span#id1 YOOO
    img.dog(src='https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80' alt='Dog' style='width: 80px')

  h2
    | Hello
    em How are you?